:root {
  --colorBackground: #FFFFFF;
  --colorBlue: #D0EDF5;
  --colorGreen: #E2EFD6;
  --colorYellow: #FCF8B9;
  --colorRed: #FDC3C2;
  --colorGrey: #E6E6E6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.headerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  margin-top: 50px;
  margin-bottom: 100px;
}

.header h1 {
  margin-top: 0;
  font-size: 60px;
}

.header .header__column {
  display: flex;
  justify-content: space-around;
}

.header__nav span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.4);
}

.header__nave li {
  margin-bottom: 10px;
}

.header__nav li:last-child {
  margin-bottom: 0;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 10px;
}

.mainGrid .grid__item {
  background-size: cover;
  background-position: center center;
  padding: 20px;
  letter-spacing: -1px;
  position: relative;
}

.mainGrid .grid__item#about {
  grid-row: span 2;
  background-color: var(--colorBlue);
}

.mainGrid .grid__item#imageFurniture {
  grid-area: span 2 / span 2;
  background-image: url(https://theodores.com/wp-content/uploads/2010/04/Theodores-modern-table2.jpg);
}

.mainGrid .grid__item#toughts {
  background-color: var(--colorGreen);
}

.mainGrid .grid__item#imagePlate {
  grid-row: span 2;
  background-image: url(https://previews.123rf.com/images/sommai/sommai1502/sommai150200133/36187794-%EB%82%98%EB%AC%B4-%ED%85%8C%EC%9D%B4%EB%B8%94%EC%97%90-%EB%B9%88-%EC%84%B8%EB%9D%BC%EB%AF%B9-%EC%A0%91%EC%8B%9C.jpg);
  background-position: right;
}

.mainGrid .grid__item#press {
  background-color: var(--colorYellow);
}

.mainGrid .grid__item#product {
  grid-column-start: 1;
  background-color: var(--colorGrey);
}

.mainGrid .grid__item#imageKinekt {
  background-image: url(https://ageofsteam.files.wordpress.com/2010/07/kinekt-gear-ring-1.jpg);
}

.mainGrid .grid__item#news {
  grid-area: span 2 / span 2;
  background-color: var(--colorRed);
}

.mainGrid .grid__item#imageWatch {
  grid-row: span 2;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Bs2ZFtgRL._UL1024_.jpg);
}

.mainGrid .grid__item#imageMacbook {
  grid-area: span 2 / span 2;
  background-image: url(https://www.euronics.ee/UserFiles/Products/Images/185221-macbook-pro-13-spgrey-1.jpg);
}

.mainGrid .grid__item#imageIllustration {
  background-image: url(https://www.sculpteo.com/blog/wp-content/uploads/2017/05/Simple-Cube.png);
}
.mainGrid .grid__item#imageSoundCloud {
  background-image: url(https://wersm.com/wp-content/uploads/2018/10/wersm-soundcloud-instagram-stories.png);
}

.mainGrid .grid__item#contact {
  grid-area: span 2 / span 2;
  background-color: var(--colorGreen);
}

.mainGrid .grid__item#imagePyramid {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEBUQEhMVFhUVGBgVFhcWFxUXFhYYGBUXFxYXFhcaHSggGBolGxcYITEhJSkrLi4uFyAzODMtNygtLisBCgoKDg0OFxAQGC0dHR0tLS0tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAIFBgABB//EAEQQAAIBAwMCBAMFBQUFCAMAAAECEQADIQQSMQVBEyJRYQYycUJSgZGhI7HB0fAUFTNi4UNTcoKSNHOToqOy0vEkVGP/xAAZAQEBAQEBAQAAAAAAAAAAAAAAAQIDBQT/xAAgEQEBAQACAgEFAAAAAAAAAAAAARECMSFhEhMyQUJR/9oADAMBAAIRAxEAPwBQCpgVwFTAr0HzPAKIq1yrRFWoPFWiqtcq0VVorlWiqteqtFVayPFSiqlTRKMiVFDW3RVt0ZLdGW1WdUsLVS8KnFs1IWaaEfCqJt1YGzUGtU0VzW6E1urF7VBe3V1FeyUJkp50oDpVCTJQWWnXWgOtVCjLQ2FMstCZa0hdhUGFMMKEwqgJFQIoxFQIoBRXVOK6oGFFTArlFEUVRyiiqtcq0RVqD1VoqrXiijItRXqLRkSuRaYtrWarkSmbduutpTdq3WaqNu1TCWaNatU5asVm1Si2KmLFWVvT0UaapoqDYoTWKu201AuaemikuWaXuWqubtmk7tqroqblulriVZ3LdK3ErURXOtAdaeuLS7rWohN1oLLTbrQXWtMlmWhMKYYUJhWgAioEUYioMKAUV1SiuoGVFEUV4ooiiiJKKKoqKiioKipKKOi1FBR7a1mqnbWmrSVC0tN2krNUS1bpyzaqFlKsLFusVpKxZp+xYrtPZp1RFc+XJqTUVtgVKK9rq5tY8ihvaBotdV0xW37FV9+1V/cSartRarpxusWKK9bpO6lW1+3SF5K6RFbcWlXWrC6tK3FrUZIutAcU44pdxW4yWYUJhTDChMK0hdhQ2FHYUNhQCiuqUV1AyooqioKKKooJqtGQVBRRVFRREFMIKCgpi2KzVHtCnLIpW3TlmsVqHbAqy04qvsU9/aEtqXuMqKOWYhVH1JrFVa2RiiVjNZ8e28rpLT6gqJLwUtKPUsRJH0EH1qua/qrgF7qLvb054WwQqf8APmWHsSSew71xsdI2Op67YV/DDB7kxtQgmfQmdq/iRRnt3nHzC37KNx/Fj/AVUfD7ad1nTWl2AwG+6BPH2hj7J28mJmtBp3lQRwePp2rKk7969aAMeKO8eVvr6H8hQbHxFp2IVm8JjiLvkz6BvlJ9gZpzqN0rbLKJjtEyO4+tZjqej0txTcu3Q4YFQ0yVePKNo808jaIyeJyA2ANL6lK+V2RqLbEaJ7tsCWAkFGAyYtt5cCBxuyJicWNn4+1Npf8A8uwrqMF7R2MPSVfykn03AyCIrfFmtdqEquvrQND8XaPUQEvBXP2Lv7N/wDYb8Cabviu0YVt0UpcFPXhSlwVuM0ncFLuKbcUBxW4hRxQWFNOKCy1WSzChsKYZaEwqgNdU9tdVDK0RagtEWogiijKKEtFWooyUdKADGaqNd8W6e35UJvP6W8ifd/l/KT7VmtRp7dD1/WtPphN64qnkLy5+iDJ/KsAfiPValxbLjTI2AVmSYnabh+1mRG2vb+j01ohQTcusw3GQzYz5pMAkx8xmJrneTUjSp8XajUkrorQVRg3bsEj/AJAYH4k/SqvVdO8S9/8Al6lrhXP2iZgki3bXsPLlQPtUvqNFd2C7aHgbVhSpO9uwDSMz6EDMGTXnTOt2NOCt1N14mS07lc4gz2Ye8n35jnbWlxb6rqAF0y2/2WH3qg37AeWVfLOJDZ+WIJmrvqHVdGltT4xv3W8o5JEfMoSfKDhSmBk+UVkl1Gs1N0Md1tLjbPIDu2wJBJ7CBPaSc1aab4es2y2oe6tpQPIzwVLCAZVgd24MCJ3HMdprOLq4tLqLq2Ldq2LRddqkMJa2o8xdlAG2CPlkSc5rWWdY+nsBrsEbV849wIAUnP0EewrE9F+K7ty87HYh2KiXiji0iDuE+wCc7mwIEjtW56Z0lVQPcuG+5E+IeCD2UDGyO3HtWLG4nb151Hm07Lt+UkgFhMEHaT5RHr6/Kaw/xj0e3p3F0OZu7kgnYQTyx9UwZHHm4jFaLUX7Toq6dS9y2PDDoSltGXBHiLBJkTtT/mgZql1Wi1J3HqFttRbRigKFVKrAhws7BIyWJUjgMeKQrNaj4i1KlVAF1l+V9rBhAOcEbxz2AIbk7jS1nV2bpF17k3Dgox2nP2VOBmeV4xM5J963rrCBUUbkBhZEXFUz/iWmEkxntP6mn1+q8Yb9kWydhCwzE8kSIgd49+cmtxhY9Ys6ZTCLv3EyigfayA0iFInAIJwRHEJ6U63TgNYusqESEB324EQAjSMziNsn0oen0dywAbdwMlwd1lQCJMkkFc+hX17GI3PiQ2t1l7YZuIDeQEyCCQJAgzABzMYONRF3a+OLttQdVYBUgHxLRiZ4hHMH8GP0q40HxHpb+Ld1dx+w3kf8FaJ/CawVjR+Kym9c3BsgqRsUkiYAkAkyPqRzMVDqfRUtsJnwySCQBI/CO3PuJ9K3OSY+mvQGr5oNfqNO0ae+zoOZ81vAOAGnAA5Uxj8KtdJ8csvl1FnOJa2fXvsY+mcMa6TlGbxbB6E1I6H4g01/CXV3fdbyP/0tBP4U+1bjFBahsKK1Daqge2uqVdVNGUURRVP1H4i09iQX3MPsJ5m+hPC/iRVFrfiHV3VLWk8G3gbjljJAEEiPyH41i8pFnG1stXrbVld111Qe5yfoOT+FZ/VfGBaV0tlnj7bghR77eY+pWqDp2ktb2bVsxuYZTcYw6kwDnJM4j3FP9R18p4Fm3G87RIC/WE5HpmOaxebfxVx112/cU6x7nguYBHltqcQCAIj3Mmru7es202adNzN5QwBjPPnOT6eWRJFQfpI8OL1zyjEEiOOAI2yfoT71SdP6obTi3hwPKjny5+65MTHaTwo+h51ppv7se5b23mCoOVEAe5MHn6tHsKqem9WGmLCPEAGxHBHkExDHgKeQcc57wbVWb10DxGbzmAMqo9wCJMcTC/jXavQCxafaF55cgiIEiCAqnGBzmopvVDUalgjMQsbtqyAZ+Uceb/UQYNef3aLdvZqNgG5fMSeARuaByYYD1M+oqo6d1e7Y3Gwh2NEsysfD9QhBBKgdj6cet5oul+Op1F294hggMTxjBSI7/ZgAznioOb4hu2v2Wn3vaMi21wedcZCCQTicN68RApvT9PXU7G8drzs+yCG5KgsMxtiRgACeRXi9YtKFZ53IFCWwBuPmG9towmPoOKr7Qv3r3j2FFkMwtwrNtuZG8blgzkYUiBug4NZV9LvdQ0ujbw7aeJCBLltI2qQRtdz8qGeZ80ZAMVUdT6TrPL4fltXZbwFk2d3I8pPnEGSxABgSh7m+Gbun8RLTp4F+3/smPluEiW8OAAV7xAPcggyT9T+KUt3fDtjxXRmtqAxFu0WBlbj7YGQMCWhcDNYaWHROu2LZFpl/stxCxuW3gKygM0W3aAIYlgsLifLGa91fxM2pc2NEpO/PjOrAbYCsbKETc7ebC5BlqzfW+jX9Zbu3tUwJCkrEhU2+aFXj7MEtuOeRlalpr+o6a3jKi6jT3IG8t+1VTG2LjZ2kidrYEjIFXE13WPge25RvEYXIbzmR5gVKyBAHcQm0TOO1YbXb9KT4wBBYhoYB92SYxDTg8R75Nbjrfx/beLehVrt3JY3AUS0YZW8ST5jJnymMc5rLdR+G7t22urv3GuXH8zAqVhIJhQMAjBjj61qe0ZpddeuI1pGISZjAcgmJOcAyAY9YnmrDp9rTkC3ADZg5kyrYjE5gD2I7yaBe0igAMPI07WUZBEg+WRmBmI+vNVuuvMrAEhyvEYK5xLRM8cyYjPpoWus0ltUYsxS58o5JfsRjJ9Iz2MZFJnXai6vhXZZQASBh2GIJaIMc9hxM0tpSZ8QsGf7rzuy3IBw6+wmZP1q4v9StORcDFWAXmZUjdJHryBjkE/hUedB1yAmy2A07dwA9o9DI4ye49KZ11oWz4hAKH5gYiOSufeSPxHcUl1VLN214rwrcBV5ZomD6kiPoM1T6SzeueRS21fMEJkcwDBb93B4qob1XT11DTYt7U9T9r6KeMdufpifNHf1tkhbVxj32NDDHK7W4gQfKRgzTHTureC2y6pVYmQCQD3MRIB545+tWOpVbq+JaYEr3XJxkEe4njuCR3qyiGm+NWU7dRZIPcp+8o2R+Zq90PW9PfxbuqT90+Vv+loNZfXdRF1RaCK104MgFV/zAnmRkegyaq9V0FlGcmBHpuJMKZ9YGfUgVuc6z8Y+lxXV8o8Jv943/AKldV+r6T6ftrNPpNLp4EbniRje/1Cjge/60PU6m5qHW2i7QPMTIJyCMnKjE8buRQem3bNm2VuRvRirCPunDRxkQdzevNA02vu3Gc2xtLmZIzEwIHMQAOI8vIrm0a6pohbUXi83FO4ST5hORPMRIxAzxS46obt4PZWAq7UBAhTHmgDk5PAP0r3W9NKWmu3DLEADdkyeMcfnuPoRXmhVdM8XICXFAYkSUuCfzHlI/6fWopy5oXKm5deTwNxxJMfKO3rJjB8tLanp9m3ZdXBPylWYbYmNyrPf6eoqB6hcuFbNks/J3XBEk8wJ4gnnOfpTup6RtRr19mu3IhRwAT2AwYHOI71BW9K6reZ1sKQ7iRbdyYI5ODEt9fujmrsdCLXUF12uXDJI+yo9uIkzxHBqv1XT0NhGukWSu4A/aVxG0nufkOOYI9qF0TquovObakeKRlpglRyVXgdiefpmirjX3Tp9Mtq7tLMQBtMbVUz5cS0jHAOarr+pvW5fTK6WbmIlSS0ZZOQrHOFn68Q/ovh9T4ty6d+0QGHdok/NznEe+BXXOrlybjgKLYUAEhRuBBaZ4x2GZ+tQE6etnYFsrvLwBcMTvMeXaTIfnJkwB2rV3tXa01gW2neBKKo3Ozr5t1tQJImfNwO9fPlv3vFfU6URBglUO1miGKKQQpAzJzPY5rXfD6ae9ae4u57ufEW5LXA84FwmS2ePsiMARWbFS6kl/XrDhbZXbsVQN8ySLjXPuiC21DAK/MaEFfTaa3b1CbrJ2Ml5AQ1o7cLcQYIkzuGeDkyautHcuMguNKMiMANw2ygG7cZwDBBPtPaqTrHxiLtsaXRJ4hMobjDdbUTEIJi5CxJ+UYyag0nUPiexb0oS7dVhct7Ea0dxurkE2wv2sx6CZ4rPjU6zqai2R4GngKbanzXAoj9o8YX/KMZjzVmtB8NalbjXbYVm2h4cCXBZgYP2Z2kiOxFbL4b6vplseEu5XtbvFS5m6BMknPnUcBhjjimYENN8H2lvmycMw3W2UsPKAPKDuw2QPQgHFE1PVdTpmKaxDctAMpuRDBftFwo2t77YOPl71Y9Y6pasRduF/GuAsiL8+4GAFBMABTljjBmqK6LuvZrusYgW4IsJgEn5SZHmk/aPfAAiTYM7reom6reECunDZY5OTgKDkdvy/Gg2dAm0lTDoNy+rmZkycf65JzV8vwsEtbrdwq4U7hIKmCQQceYCIyPSIms1qtXCBLylbifI4BEjjawOQQI/nWoDa20SPEuKCcbogH0hhETHf6e9V2oui20iLgK5VpJGfWSU+hJo2o6ozEMsFu7QCFn24Y5+g/EzydP2gvuDqVJDKchoyG95+mM8AiqhfR6iHW60E8APIBHMIeOZx+lO6nqKm6t1RtePNPBnv7qR/D0ry6iruFxDsbIdQAY4kjhgT6jk45pXw2tEC2VuKYxDeo57oZMfjxmg0ItW79sMRLHuR8rfdPovb8Z96zeqG1ytrd4qyWYGCAuTJESRwZkY94oP94OhK22ZJw3BAPsfXnODTF1ltIE2ENyWnDAgwZ9MniZBOZoPbZuaVgWWZJ3epBiRMkHOcwee1X2n6rYvQswWBBV/KSCO3rx2qela3eQs0FjhhyFyPKPQd5/GqrVaJVcq+VbueAexiIgnB9yPvVU7W393n/e3P0/lXVWf3Av3l/wDU/wDlXUCl3pzLeVWAi7gFoJ3DngeXkCfbmtHqba2bUhlQjh2iZjniWJ9O9ZzqnUWvXN1lW/Z7WRoyNpmQO0k9+YFO6Xp6ug1N92uEgPk4AiYn8OBAoFtRr7l9rdq1LFT8zCAx7Hb9mM0TW9HW2A+oulmfdxMhiJBzk5HoKtuhaUCy1xwF8QljiAo5EegHPbtVb1PqavttW/2mZFxgxwOAD3gxkQD+ZoHPh3U2/Adbu1Svz7gACpyrDgCc59aFqOqvdvLbsqW2mQXBljyMSJgAwTEifxrdTpLixfuebw2Cso5CnMKRhY3YgzJ5rUdNu2rdhWYYueYREt3BGd3vPaagreo9OKhbl+4XuEic/KsgNmMDIwoUZ780t1rS2l2PZYrdCjw9mchjMx2Kt+n1rzqnUzeubGBIIwBtLQuROQBmTukD3odrStcIDbLdpSAdskGfvcFzIAx5fSaKPous+JaVFSXEKVAhQSYDM3LAnhVB4z60W900qoDP+0ngw22eYUeVDznLf5hxSGs0bC542l3KUXdnBaDBhV7RGIERiDFaL4bvWb58eCluyvnLNxcbLEsTgAd/x71FX3SdNb/s4tW/MChUmZ87rLk+8n9DVN8WXrdg29Vau7NSyyFXJuAwfMo7e5wfWQKSfrhk2NAo2McXXWdhJAPhBvmEwAWxJ7zTHQfhpDuuXYdy5tyTumDtZie8GABgDbxUQr0rUXOpN4Ny6LdtBiwpMEerZm7n1wMetXWnspba5btqVCkK+AQywsfVpLcDhjjApDqXQlRi1thZKtNm6vl8NiqkK5H2GkwTwZGQYpnpvxEi23TVgWryANJWA6gDb4YjJyTs5JMieyxW0tsviWykbXtP3+6yFfrhjWD+L71u/f26VQ9xD5rqfZZQZVWHzt+giCcxQ+p9Se9AINjS7mEEnxXJUkq0GVViI8MGZOSAa0fRelW0Vf2aqrAbgAAWgcH0UYAH195kGJ6JeK3kuaseW5k3bm4hhOAx7KDGflEDCzNbu5fLXfEtAEIBuMyGMbgvuQMzxkGq7V2Ldq04KKytccBSYhixAIPZT3jjnuaqHs3emp4qOr2JlkJ2wTjyfdOeBIPoOaqNfprqm14hON9yS2IG9iZB49D9aw3W2/vC6Rpli0kk3IA3n1nsvIHc9hGQqepNq98t4djeAUJmSeGcSd0RO35cSSYit3o9AttFS2IXn6kdz6zirDp8st6S7aZmt5KEhlIB4kTtzIwcjPNTt9QRgVaUJERyJj1Hae3vOc1qepaO4n7RTuuh3AgDzKCxdY7DM/jWc1Vi3cO5gFkRj17H3ED2/CJIM2tQXt+FcU+Yfs3GQO6yO/pjMA+9IO7XWFhNpbIa6Dgge/58Yz6mq67qXUGyHlAe2Rzna3pj9KstGyMqeAStxcsDjceBH1E4/CgB/YSu63AJgHluP0Hoc+oocMk2gxKkg7YlZnAKmGH4Z9qs9Tf3yQAtwBSInb5ZmO6/uzzXjaEXR5TBGWMiN3baYkzg+2KoTtXzalvMhHcElPocSD3AYe1P9Q6qRbHioGJHkZeGkdx90jnv7DFLX9fgi+hJA2lh5X9AP82RkHGO9VejQlvEjgiBtV1BaYlDEg+3ftxTTHn9uvffb82/nXVY+Nc//Xtf+Fc/lXlFaHQdOCW5tkhyuWORmeQcGBjt3rOJqmW3/ZBDEXPmDSpXkAR/m9PSKtf7NqNVm6wtWvu5UEfQwX+pge1JaPTrbupfgmy1xrWe4KkKewyarMWqdJu34OofaixCgQABxCcD6tJ9hT/StNaRXvnCnALZ8oxkt7Rj1BpTqnVtiNbU7weW5CiYZSwwfSQe+YPNZe1jMFKneFBO4qdgjnw0Bl47twO7RQ8u6zriHO0nw/LyIJIJ2gAmSPr6DEAUto7z7/BtnaHIKE7d8GJSQSLf2iMEie1Weh6eoIu32Z7jDCLG+JxJHyCOwj6nikNdoWYEKANjFVVfsknuTjB2g/8A3WVi509izaQhQtxsd4QNMAnu7T3kxBiOKBqke3bYuQ1zcrW8yszLE9p9RieZrxOv29iFlKG2DutgAftRg8/KPc5ye9VOq1t/WuEUYEkBRwDyZP8A7jQPavr6oirb89yDuYgwC4G4AH3UZP5VQvprlsh3Q7SQSuQrAExzg8EiRVv0nSJbveYgi1DyBIYgrOfu5OeD25rZdR06XrTg+abitg8KW2T7QJNDce9OuWW0gOmVT4kL5gCxP2hcHeBOOB2o/StPds3jbcllf/DGBt8pLbiAc+UYn3rEdN1bdP1Ekb7DEhoGCJg3LfuCIx6EehrSdQ68+oGzTEi38zX2EHynJszHy8G42B71DDPxV1XY/ghQ7OqM6BsBRuDi6eEVvKJP4TxWf1/Sb95Ve9c88KbZO/CblACDkEBtx3SxwcZpro1u3prqeKj+M4+0C3mbZtdSclo3ZJkEkYrRdbAGnuO4giCg52vuhTjltxI9MxxJNFDptUTds6PXBUNo/snA2rc3AQCQIUkHmBmJzitxb1DoCjCSAShk+YLyOMtHPr+cVF3pNrU6drF4AsP2hMeYF8+Ih9D6cdu1ZbW9dvaINorxW6y7TZuhjKZ8puRnA7fNiMgzUO1/1rqVtGYvLeYi1aWCzuVG/B+yASCTgSao9Do31Do2qLbeLKhvLA+yhJ5gz4h8zAYgCSf4c6QWvNd1JLNA5AhgcrI7W8SBwTzJxV58SWywFlfMziTAyoBww9DOB/pViazGn+Gwy+LaLKVYi0cPhXIJ/Ptx++rbo/xI1t20+sAtnGx4ISc+XPy8SB+AJxVt0e75HQld9t2kAEA7juUj2M/hx2qv+KNKLsWgqnapd2MjakHBPaTmM/L+NDROm3g966zYPYHhUOcExkxNYbqV0XLjrabdaDeZwOxbkd9g4n7UfjS1zXMs2EdnsMc/euAYgHBZPRZzBAImtho7OnuWltaYhlibjECSfuHAKkkfKeAMCkXpmbmn8Ii3G5QSyuoEny9j+H6VG/05boN21CFeVEjt8wHKz6VZ6rQG24tKcTKgn5Wjj2PofpzSV/yzcG5bi/MBGTPMenH8eMhWaTVPac7wxBMMODg5/H3qyS5t3X7DqEOCpMjaOzA9+SBg5969uX5y4Ta4jM7ROAxHYjOPT0iqDUWgXItyVmAY+ainNXda+xvEAKsQDMHtz3P17CBxTIVboYkbXwBzsEDMntJH6/jQ9D1TavguoCjvnyn2H2Z4Pbv613TtcbbnaAVJyCcEdiIxMek0B/Ev/wC+/wDVWuq0/vdPT/ziuqsm+vdRRLRQQLjeSByAfmM/Tg+9UfUFDWxbJBdF8q24hDzvuucDPYnvEd6gukuam7tRCoXmWnOCS7evsJOPxqwv27dldtvzmIECLdtjIJAMyYnMkiOe1Dor02wdSBdvMi218oxAmAfKv2m/4ie2KstSpI2WAU35LOcuFIP4D24ieIpL4ctBNQ9i6skDcgmRn5gAMGcfgD6Uzqet2kL3AAScKuAoXtuI5nnaueai/k3Y6hZSwWSAx8stkg8TmJE59wPWs1quoKrMbW4sQss3IIz5fuiYyZP0zUHu39W8CSAMDACr6jsg9zT3T+nhCJ7SWflV4IxGW+vqIodKQ2zuD3AxUsN2YOQDOc8EZPrWv6VbC6drjDyj7GQXaMbu7Ck9Qlsp4LCWQ/tO7GGZAAe3kIP4CmOh2r924NMzAPphKggHdBGzd6rBj1GOM1Fq/wD7lLadbMAMTLPnduI8xAA47e4/Okb/AFZdPYOkdIcIVEAneXJAKxyTIafbtxRtX8TFZS0oN8eVwZ8K0ZiWPeTwq5MUhoujXrpOruszPkeaQTtMMhVZ8NDkAD1k9wazPZNtBe1dtBtRE4RR8oaMl35ZjyVXAkyZEUn0TqTaO42mvR4LtDyJgqYyRnYTgj0n3rU9B1/iW1AECwpk4CqpJEgDkhYgDvP4ra7oBvJc3D9pvLRPzB1V19lad3tJI4NF1oNX0suFu7lN1YNowduMqo8xBWe+TnmhC748Foi0QCjKR55UEEbs7Qe2JP0NZT4a+Im04Oj1BG0D9i7YCnICsW4SfXiCPYdr9fcvjw9PuFsKPFcSDeO7zuuJVJ3ebkzABiKaYtOp9edttjSHdctg22uBTiBBtoSSLjYB4hYBJwaQsfDyPYF1iSS6A8sTvuKrM78s+ZJPrgCmvh7RtsawqhdxhXAYA2hLFknhCSBjndJmKvdbpmt6diiyQnnX720eRx/mG0fUA9wKGsy1zUdMYK37XTkxbcgyo+1bPoMZX2kcEVrek3/ET+0AAi5EZPlUTtUGDx6epNe9VVdR+xEG24DN6GfkAP8A5/w96ywW/wBJfcJvaRz5lxuU+o7Bv0PsaJ2sdZ1FUN28IDA74MifKilCCJyVB/I1RjUXtextW5FtzvusYG8+hyItrwFmWI9JIT1t5dbqSLRCW3aSWwD6kjlVxwck+n2dboktWF26dg0AeJmWPYOY+0OIHK4HApFvgj1Hplq2LQW3kB4JCsbjQsBgDkHzCOwOIjFanTiFGo0zuLhEusM2YB2up/xEgyOWAgicVorhFy/ZIg2pKDAO8+ExLT6DaFHvu9qZfT+ERctjHysoxuAnIHqDP5x9KzrFX+r+OyhlC3J2lez7cAqx55ODkT3rzWXGB2OoDry3BI7Eg9vp9a0Gt6ImrLXBAH2TBi4eC5HI9ARny9xish1y/dskadzuZB5WJBdAezEYcRwTBz24rNal0tq9SSTYRoSZYnMdpMDt7U2LHhsttDuBMgdmO0g/y/fOKj0y34drxFhlIhxJBEfTj+vavCyPtAmQT3g8YwfoM/h2mipmwtwm0VCvIg+g7/8AE317D1mlr+lvacsimVPzCJUxyY7EYMj2qyt2kurDSt0cY28YAEQBxMeoqRvXQAW82wwGEbwe0zyMyJ9SJMmqjPf2s/dT9K6tJ/fH/wDK1+R/+Ne1F0f4e026z5nCpJLAeUknnd7YHt++mNRrLIfDKtu3nGSWPG0ckx39zWf1eqsqg8ls3MyVUFAJwBOWb6Y+tV+n073WgACeeFAzyx4QVdTE9frF8TdZBX5pO4lm3feIwMdh71HSoky7cDEDk+g7D6n8u9OWOj+IXS2d3hqSWUQCY8qqDk+acn0HE1YfDV60UQMuULEwJZ2J8oA7AAjmBn2qLpnpmr0yWxvuD1KKGMn/ADkDzHH/ANZqVzqlspG0mTuc+GxUc7VAj6ROOOexr+he45DsVWNxST5UU+UN+Ib6YpPW9e8i2wkEndtAEmMINuY4BzPrmqgWm1CWVuMyP+0UyCm3LTnceF9vrVXq+pE7LloMjw2+6Dte5vywxwoAMficVZ9M6dd1d7dcuDanmcxuVScACcM0Dk4x34qT2E8e7Zt+YyyQssbgb5zPG8dvZWHeoo/TCyW7dyxpzuadrlrYQjad20EzuGTuOZkcYrSafW6i5ZAt6YIhEf46g+XykE7ZU4g9/pWV+C74S+tm98ryLUk7UuAjcI7E+X9PWtrrV8Am8uE/2yqOAObgHqBg+o+mbGb2rEt30LC3p7ahdrXEVyQwBlZG3nHbkAio6zqd+2Guu2mRWtgglrjAhD5dsDzN+0X8hT2s6ommQXX896/lbaZd5HkUDPlURnjnuaxWo8R7i37uA5bYEHkRmP8Astxg5IlxiSYyJEWeSfV797Uk3mQLDQVVSIJWSTJPmIWSB6SYxNj8M9Wcr/ZvFS1EMCUUm4QR8zE5IAED0FabR9JRvFt5CKj2U2mf2jKPHee7fKs+qvWL1nSxstbB53trdXOSY2ug9w4JH1j6F3Wz0Vi6FF3x4S4fmC2/LJJBiCEUktMd2zyad1OlvKjG5qbpxBAFkbtxgBfJmSY/Gkvg7rqam34NwDxUBDLiHBwWA98SPX60xevBXa1deLVoEo7YE7cozdyqk+s7vVarPlUAXLOlS74l5VgGVKqFaSpLAZ2kCB6QPWs31rqr3zC3Lxt4EXHZtxxmOAJGB/Qkb97Up4c/sUO6PlB4gt6+w+p9SILYG8IuYzJ+vP8AXYVlqErDXLXmXj7Q+hjPp9avdD1LbFy0ckFT6r6z70smnyy+hP04n+NVz2mU70kEZK+oHf3H7qarS6TqCpftvkKCSB5iFO1lj6HcD+JrVavVblFtSsuMncJS3Pm9txGOeT7VhukaqzdZRdwoywkiMdo7fzrTp1pdPbuXL/mf7OQWb7lrjDLOfrPerKzYS6j1Y6G21tYJYt4ayPL33Y5QAx2kr7mKTT/Dzs1s3mPi32LMD8wUqzS3oxiefaMGnOjdON83Oo6seWfKsYb7ICj0GAB3P6v6RNt60jqQ/j/NJMr4FyEDf5ZA9zJ5mKdKDrHRrmmYvbyo5I5jHzr+IyMHBgd0LUXXWGW20/akCcRGI+lfQOu2ka2/mYbSJMkxBwBMy0k49GjuKxnVukPb2s4ADdxjY/IWew4g8fvqUl01dvni8AHHJEQcxwP9fpxQNc2wq6OSDIKnt3IP9Hme9V517r5LmYEfn2Pp9foR2p3QnwU8ZSjocODyAe3GD/WcUXEYs/74f+F/rXUD++bX+4/8xryhjy10i4vhu9tmDr4oClS5QErJAJ2AkEZE4q4Asrba6D5tuxLImNxOCQcsZzPt24qs6X1F9O/i2mKuZE8yCIIIOGBHrQbl03GEjAMn1M81mWrYvBbKWRZtCTBNy7HBI80MOQcAfz4V6DeGkvxcB23bauCMkGJkRz9oY/nQL/VdttbckhXD5JyB9kj65/CqvqOsa6wZuBgD2nj2q6mLXVdca6zgQqs2SZhQOJAncduI4/fRNH0sm21+6DtHmJb53OABPYE4AHrmqu0FkEj3A7e2PStKNe7bSQrWrGx2H3zMKpIxPMDjGfWhTel09zS2kaxLXbnkdYlC7AkBMgFk9vumaa0fSbNpBcsF2e9KLcbaSpiS0Y2kbWJB9wa9HxFae94h+W2u1B5vmYS7fL2EL/1etV1nryrqmvAHwzgr2kgTcAjuVBPcxVZ8l+s9PIV0Ckec5k7kuKviIwPoUZlP/AD2yZ/i97tm2EUG8AfFDYtqEgi47fd3QYntHcUl174l3u4sY3BJY8q1stBT1JDQT7flUdI1I095LjLuTBYHzQQcNEgMwORPE/jTWsano/RPOLuo3FbmCW8paflVh/srJJwuCcAwDtq76hpEYXLj21dQBZsKePELBfKB8q7oAI7KT3pLUfEqsptgCHEZXseT8xzH8KVT4ghraEStr5OAZI2qW5Eqpb86M+Wi0z/2YeBcI2qN1t4jdEl0I+9z9QazSdNVtCbhXzWXVwJMlAA7W/YlX7d4qfVviHxlCENG7dIKhpHylSFwQc1WaT4jdPERj9oMDgfLIMiDMiBTVkL9e0hsumssv5sOrD/aA8OP82drr+Pc1PQvf6k4sjy21hnA4nvcfjcZmB6/nVRqNU14hBItoWKJ2UM0yfXmKVtO9pt69jBEnI9DHY1GsazrdlrRTSAAbRJIB884NwnvMcfZyOwpKzZ2icZMg+g4A/L99JWrqXDuEAt7mB7Zpi+y7ex9vf0qUSRzuaRHmBPpwBA/fRLtvdMYPIPoarwcspAE5zxkcUwXtlRhc+o795/rtUVXam1BLr5WXn0n/LT/AEWyddfFu44UKCwX1MAEqO7GBPsvtVTq2DNCAQO47+9eLaIhlMMDiOQRGRVR9KsAXX2BVVbJ2lAcFwOVjhQOPc9is0HrzW0KLvKsGUr5juBC3JwTHzMvsQe+axmh61cW4ryA6jaIAAYd93qTTnVupPqAm8+ZcgjBH64rWs/FrOkhb7kwFFowQsDdc7uR6CMTmSfu051fRq9tlaCCp/TMD3HIrEWuq3bbBkIBACxtEED2/rgUTU/EV9hBYQfRVx78cimp8bqr0um3YYwfsbhg/n+7vmq/VDaxQH/iAOJH9e9Weu1x8MKYhflAAGTg59+9VaD1yTMzWW3vip93+vzr2vPCr2imDAG459KG16MDnvQ3uFvp/XFSS32/r8aCVpJ8xz/D6VB1/jTLcbR+fagsPNAz7/lQS0LATPIp1dSRb2zyZI/zcfupCyALkE4P76LeYBt3p+vtRDNzyLg88/xNKvdLnashf1aPT2qMG63GOw9vU0wUCT3Hc+n09qCCWQIB/GOBPFSuWgfKf6B/1FHsWgN0wZpfUCPw/d/MUHvTr/IY5UY+lNO0Azyc49aS16gMHXsMx6dqM95TBkAAT9f6/jQMvcVUG4iRk1Vt+0cnsTgevufavbhN0zwPsj+J9qZspBkcyJmiiGLYgZP2j++lja3OQI/njj9KsBABJ/qaSEq59Yke/oRQJWn8N57d/p/OrdrS/wCIpnGPf3+tJauwAIPP9SaBpdQbbbCfKf0nuPagtLIDCqzVNLFV/H+v64omp1G2VXk/p/8Ade6O0FyaD23YAGe2T/CvFmSe0/wqW+THAJn+QqaMCY9/9KgDqbQInv8AvqGkvw21+/ejsufYHH1oV+0G+tUOXBAmhwRkjnmldNqdph8jsfT/AEouv1GAi8t+6oFS29p7Lx71IrH76Ys2YAH50Fp394/o1UD8T6V1G3D+orqil7d4Dt+6pf2gehj8KB4J9DXhsn0oDtqB6Y+teC+Ow/WheCfSu8E+n6igm13iBkZma88XMnP8Kj4JmI/UCif2N/Qfmv8AOmgi6yDgfXJz+lT/ALx9hzPJ/lS/9kb0H5ivDpiO6/8AUKaGV6iQCAB+tQOvbPGRHfj86B4Huv5iiW9Ex4Kf9Qpo9GubaVxn1BniPWgb+BOB27URtMRiR+Bn9RR7fTWInfbH1JH8KaB29aQCPX2zXf21txM8/SinpT/etn6NQ10UifEt/STI/Smhq11VJl0uN6bbiLGPe01K6jWAvuQMvpLKxB9dwRf3V5d0m0TvQ/Qk/wAKF4QkANM+gY/pFFSbVse5/T+VCe5PM/pUntxnJHrED9a42xt3bgT3UBpHuTEZ9iaInpCNwDcGndRdEbQfzB49KqppzRuDIbmMH+u9A7bKxHbvg0B43GJycRPFMLcEZoT+/J/SgLcvdisj/hA/dFL+JOIP4elMWwX8qqSxwFAkk+wrXdE+EVtAXtWB6hCQVn0cjv8A5ePrxUvKQZDV6RhaF10uKhwjFVAJ7AGZIx6VW6Z9rbiJ/hV58S9S/teoW3a/w0Oy2JMMeC8fp9B715pemKwa2fmV2UH6R+FJf6O2ygbkHiO9LonPrQiLmmeDO05jsw7lZ4PqKfvWg6i9aJZT8wxKn3A4rWphTea9qO811ULafig3Oa9rq5tIXOKFXV1USFca6uoJpU66uoAvVjoftfQfuNeV1SisHAqFdXVRzc1Kva6g9Wnunf4ifU/uNdXUA7v+GPr/ADrxeF/D95r2uoFtR8xrxeR9a6uqwO3OR/XpRTXV1EaP4G/7Q3/D/GtT8X/9mf8A4G/ca9rq5cvujU6fNfhf/tVv/m/9jVdab/Guf95d/dXV1bvbIvxV/hD/AL1f/YKT+BPnv/8ACv7zXtdU/VVrXV1dQf/Z);
}

.mainGrid .grid__item#mailingList {
  background-color: var(--colorYellow);
}

.grid__item .grid__item-category {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.grid__item h2 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.grid__item p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.grid__item .grid__item-link {
  position: absolute;
  bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5em;
}

